<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test_Automation" verbose="1" >
    <test name="Mortgage_Calculator" >
        <classes>
            <class name="automation_test.Mortgage_Calculator.CalculateMortgageRate"/>
            <class name="automation_test.Mortgage_Calculator.calculateRealAprRate"/>
        </classes>
    </test>
    <test name="PHP_Travel">
    <classes>
        <class name="automation_test.php_travel.TestNgWebDriver"/>
    </classes>
    </test>
    <test name="Api_Test">
        <packages>
            <package name="api_test"/>
        </packages>
    </test>
</suite>
